{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}

<div class="container">
    <br>
    <a href="{% url 'home' %}" class="btn btn-primary"> &#8592; Back Home</a>
    <hr>
    <div class="row d-flex justify-content-center">

        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_label content %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
          {% endbuttons %}
        </form>
        </div>
</div>



{% endblock %}