{% extends 'blog/main.html' %}
{% load static %}
{% block content %}
<style>
    .dark {
       background-color: coral;
   }

   @media screen {
       .row {
           margin-left: 50px;
       }
   }
   
</style>
<div class="container">
    <header>
        <h1 class="text-center"">
            Latest Post
        </h1>
        <a href="{% url 'create_blog' %}" class="btn btn-md btn-info"> &#43; Write a post </a>
    </header>
   
    <hr>
    
    <div class="row">
        {% for blog_post in blog_posts %}
            <div class="col-lg-4  col-md-2">
                <div class="card bg-dark" style="width: 18rem; height: 200px; margin-bottom: 20px; color: aliceblue;">
                    <div class="card-body">
                    <h5 class="card-title font-weight-bold"><a href="{% url 'blog' blog_post.id %}">{{ blog_post.title}}</a></h5>
                    <p class="card-text"> {{ blog_post.body|safe|truncatechars:40}}</p>
                    <a href="{% url 'blog' blog_post.id %}" class="btn btn-primary">Read more</a> <br>
                    <span class="text-muted"> {{blog_post.date_posted.date }} by {{blog_post.creator}}
                    </span>
                    </div>
                </div>
            </div>
    <br>
    {% endfor %}
    </div>
</div>


{% endblock %}

