{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>deyemie.py</title>
</head>
<body>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% include 'blog/navbar.html'%}
    {% block content %}

      


    {% endblock %}

</body>
<link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
</html>

