{% block content %}

<style>
    .users {
        color: brown;
        font-weight: 900;

    }
</style>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Navbar</a>
    <p class="users"> Welcome {{ request.user }} </p>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a href="{% url 'logout' %}">Logout</a>
  </nav>

{% endblock %}