{% block content %}

<style>
    .users {
        color: brown;
        font-weight: 900;

    }
    .profile-pic{
      max-width: 100px;
      max-height: 100px;
      margin: 0 auto;
      border-radius: 60%;
  }
</style>
{% if user.is_authenticated %}
  <nav class="navbar navbar-dark bg-dark">
    <div>
      <a href="{% url 'profile' %}"><img class="profile-pic" src="{{request.user.profile.profile_pic.url}}" alt="profile" ></a>
      <p class="users"> Welcome {{ request.user|capfirst }} </p>
    </div>
    <span class="glyphicon glyphicon-plus"></span>
      <a href="{% url 'logout' %}" class="btn btn-info">Logout</a>
  </nav>
{% endif %}

{% endblock %}