{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
  </head>

  <body>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <div class="container">
      <div class="row">
        <form method="POST">
          {% csrf_token %}
            {% bootstrap_form form show_label=False show_help=False %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
              Register
            </button>
          {% endbuttons %}
            <span>
              <p>Already have an account?</p>
              <a href="{% url 'login' %}">Login</a>
            </span>
        </form>
      </div>
    </div>
  </body>
</html>
