{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .profile-pic {
      width: 200px;
      /* max-height: 200px; */
      margin: 0 auto;
      border-radius: 20px;
    }
  </style>

  <body>
    {% block content %}
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div><a href="{% url 'settings' %}"></a></div>
          <div class="card card-body">
            <a href="{% url 'home' %}" class="btn btn-primary"> &#8592; Home</a>
            <hr />
            <h3 style="text-align: center;">Profile Page</h3>
            <hr />
            <img
              class="profile-pic"
              src="{{request.user.profile.profile_pic.url}}"
            />
            <a href="{% url 'settings' %}">Edit Profile</a>
            <hr />
            Name: {{request.user.username}}
            <hr />
            Email: {{request.user.email}}
            <hr />
            Phone: {{request.user.phone}}
          </div>
        </div>

        <div class="col-md-9">
          <div class="card card-body">
            <h2>My Posts</h2>
            <hr>
            
            <div class="row">
              <div class="col-lg-4 col-md-3">
                <div class="card" style="width: 18rem; height: 200px;">
                  <div class="card-body">
                    &#43;
                    <a href="{% url 'create_blog' %}" class="btn btn-md btn-info">  Write a post </a>
                  </div>
                </div>
              </div>
            {% if blogs is None %}
              <div>
                Start with writing one
              </div>
            {% else %}

              {% for blog in blogs %}
              <div class="col-lg-4 col-md-3">
                <div class="card" style="width: 18rem; min-height:200px;">
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{blog.title}}</h5>
                    <p class="card-text">{{ blog.body| truncatewords:15 }}</p>
                    <span class="text-muted"> {{blog.date_posted.date }} </span>
                  </div>
                </div>
              </div>
              <br>
              {% endfor %}
            {% endif %}

          </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
